body {
  color: #555;
  font-family: 'Titillium Web', sans-serif;
}

/*
========================================
** NAVBAR
========================================
*/

.navbar{
  min-height: 90px;
  margin-bottom: 0;
}
.navbar-default{
  background-color: #222;
  border: none;
}

.navbar-default .navbar-brand {
    color: #555;
}

.navbar-brand{
  height: 90px;
  padding: 15px;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 25px;
      margin-bottom: 25px;
  }
}

.nav>li>a{
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
    font-weight: bold;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
  top: 70%;
  min-width: inherit;
  border: 0;
  background-color: #f3f6e9;
}
@media (min-width: 768px){
.navbar-right  .dropdown-menu{
    left: 0 !important;
    right: auto;
  }
}
.dropdown-menu>li>a{
  padding: 8px 20px;
  color: #555;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #eee;
}

/*
========================================
** CONTENT
========================================
*/

.top-slide-bgimg{
  padding: 10px;;
  background: url('../img/imagebg.jpg');
  min-height: 600px;
  color: #fff;
}
img.center{
  margin: auto;
}
@media (min-width: 768px){
  /*big font for big screen*/
  .top-slide-bgimg h1{
    font-weight: bold;
    margin-bottom: 30px;
  }
  .top-slide-bgimg p{
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  /* vertical centering text
     just for big screen */
  .vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
.slim{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*slide green*/
.slide-greenbg{
  padding: 30px;;
  background-color: #009b93;
  color: #fff;
}
@media (min-width:768px) {
  /*big font for big screen*/
  .slide-greenbg h1{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 38pt;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  .slide-greenbg p,
  .slide-greenbg ul{
    font-size: 16pt;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
  }

}

/*pill banner*/
.pill-banner{
  background-color: #222;
  color: #fff;
  padding: 15px;
}
.nav-pills{
  margin: 0 auto 0 auto;
  display: table;
}
.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
  border: 1px solid #fff;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-pills>li>a:hover{
  background-color:rgba(240,131,0,0.8);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background: #f08300;
}
.pill-content{
  background-color: #eee;
  padding: 10px 0  50px 0;
  /*min-height: 300px;*/
}
.pill-content h1{
  margin-bottom: 20px;
}
.pill-content p{
  font-size: 14pt;
}
/*default section*/
.section{
  background-color: #fff;
  padding: 60px 0 60px 0;
}
/*download */
.download h1,
.download h2,
.download h3
{
  font-weight: bold;
  color: #000;
  margin: 3px 0 3px 0;
}
.inline-block img{
  display: inline-block;
  margin: 8px;
}
.get-app-store,
.qr-scan{
  padding: 20px 0 20px 0;
}
.get-app-store img,
.qr-scan img{
  width: 45%;
}
/*subscribe section*/
.subscribe{
  padding-bottom: 100px;
}
.subscribe h1,
.subscribe h2,
.subscribe h3
{
  color: #000;
  font-weight: 300;
}
.or{
  text-align: center;
  color: #f08300 !important;
  font-weight: 300 !important;
}
@media (min-width:1024px){
  .or{
    margin-top: 50% !important;
  }
  
}
/* subscribe form*/
.form-group .col-md-3,
.form-group .col-md-8
{
  padding-left: 5px;
  padding-right: 5px;
}
.form-control{
  background-color: #efefef;
  border-color: #999;
}
.form-control:focus{
  border-color: #aaa;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
/*buttons*/
.btn-orange{
  background-color: #f08300;
  color: #fff;
  border: 1px solid #999;
}
.btn-orange:hover{
  background-color: #ffac48;
  color: #555;
  border: 1px solid #999;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn-transparent{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-transparent:hover{
  background-color: rgba(255,255,255,0.7);
  color: #555;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

/*FOOTER*/
footer{
  text-align: center;
  background-color: #222;
  color: #ddd;
  padding: 30px 0 30px 0;
}

/*animation initial state*/
.fadein-to-right,
.fadein-to-right-init
{
  opacity: 0;
  left: -200px;
}
.fadein-to-left,
.fadein-to-left-init
{
  opacity: 0;
  right: -200px;
}
