@import url("http://fonts.googleapis.com/css?family=Raleway");

html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
    body > .container-fluid  {
        overflow-x: hidden !important; 
        overflow-y: hidden !important;
    }

    nav.navbar-emeron {
        display: block;
    }

    nav.navbar-default.affix {
        width: 100%;
        z-index: 9999 !important;
    }
    
    div.num-zero {
        display: none;
        height: 0;
    }
    
    div.num-one {
        display: none;
    }
    
    div.num-two {
        display: none;
    }

    div.num-three {
        margin-top: -10px;
    }

    div.num-three p:first-child {
        margin-bottom: 0;
    }

    div.num-three > p:last-child {
        margin-bottom: -10px;
    }

    nav.navbar-default {
        background-color: #ffffff;
        background-image: none;
        border-bottom: solid 1px #cacaca;
        border-radius: 0;
        margin-bottom: 0;
        border-right: none;
    }

    nav.navbar-default > .container-fluid >.navbar-header {
        float: left; 
        margin-top: 5px;      
    }

    nav.navbar-default > .container-fluid >.navbar-header > .navbar-brand  {
        padding: 5px 15px;
    }

    nav.navbar-default > .container-fluid > p {
        float: right;
        margin-top: 15px;
    }

    nav.navbar-default > .container-fluid > a > button.desktop {
        display: none;
    }

    nav.navbar-default > .container-fluid > a > button.mobile {
        display: none;
        background-color: #9d2482;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        float: right;
        margin-bottom: 12px;
        margin-top: 10px;
        padding: 10px 15px;
        border-radius: 0px;
        line-height: 1.1;
    }

    nav.navbar-default > .container-fluid > a > button:hover {
        background-color: #bd3ba0;
        color: #ffffff;
    }

    div.section-one {
        background: url(https://trello-attachments.s3.amazonaws.com/5a0d2e0b5b55a4aad1ed8fb8/5ad5a2bc940928affb430159/9cfe25e187b88c01919b4928dd51ea25/Asset_2%402x%402x.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 46px;
        height: 600px;
    }

    div.section-one img {
        max-width: 157px;
        margin-bottom: 40px;
    }

    div.section-one h2 {
        font-family: "Raleway", sans-serif;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #333333;
        margin-bottom: -10px;
        margin-top: 0;
    }

    div.section-one h1 {
        font-family: "Raleway", sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #9d2482;
        text-transform: uppercase;
    }

    div.section-one a > button {
        background-color: transparent;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #333333;
        padding: 10px 20px;
        border-radius: 0px;
        margin-bottom: 75px;
        margin-top: 10px;
        border: solid 2px #333333;
    }

    div.section-one a > button:hover {
        background-color: #fef7f7;
    }

    div.section-two {
        background: #ffffff;
        text-align: center;
        padding: 60px 20px 0 20px;
    }

    div.section-two h1 {  
        font-size: 25px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 35px;
        letter-spacing: normal;
        font-family: "Raleway", sans-serif;
    }

    div.section-two p {
        font-size: 14px;
        color: #333333;
        font-weight: normal;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        text-align: justify;
    }

    div.section-two p > b {
        font-size: 25px;
        font-weight: bold;
    }
    
    div.section-two p > span {
        font-size: 14px;
        color: #9d2482;
        margin-top: 5px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        letter-spacing: -0.2px;
    }

    div.section-three {
        background: #ffffff;
        text-align: center;
        padding: 40px 20px 0 20px;
    }

    div.section-three h1 {  
        font-size: 25px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 35px;
        letter-spacing: normal;
        font-family: "Raleway", sans-serif;
    }

    div.section-three iframe {  
        width: 100%;
        height: 158px;
        margin-bottom: 20px;
    }

    div.section-three a {
        width: 100%;
        display: block;
        margin: 15px 0;
        font-size: 14px;
        color: #9d2482;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        letter-spacing: -0.2px;
    }

    div.section-three hr {
        width: 120%;
        border: solid 1px #e1e1e1;
        margin-top: 30px;
        margin-left: -20px;
    }

    div.section-four {
        background: #ffffff;
        padding: 0 20px 60px 20px;
        text-align: center;
    }

    div.section-four h2 {  
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 30px;
        letter-spacing: normal;
        font-family: "Raleway", sans-serif;
    }

    div.section-four > div.konten {
        background-color: #f8f8f8;
        height: 100px;
    }

    div.section-four > div > a > img {
        width: 100px;
        height: 100px;
        float: left;
    }

    div.section-four > div > a > div.konten-title {
        padding: 10px 10px 10px 110px;
        text-align: left;
    }

    div.section-four > div > a > div.konten-title > span.mobile {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        color: #333333;
        font-weight: bold;
    }

    div.section-four > div > a > div.konten-title > span.desktop {
        display: none;
    }

    div.section-produk {
        background-image: linear-gradient(to left, rgba(244, 244, 244, 0), #f4f4f4);
        padding: 40px 20px;
        text-align: center;
    }

    div.section-produk h1 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #333333;   
    }

    div.section-produk > div > img {
        width: 154px;
        margin-top: 30px;
    }

    div.section-produk > div > h3 {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #9d2482;
    }

    div.section-produk > div > h4 {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        letter-spacing: -0.5px;
    }

    div.section-produk > div > p {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 14px;
        text-align: justify;
        color: #333333; 
    }

    div.section-five {
        background: url(https://s3-ap-southeast-1.amazonaws.com/prod-competition/microsite-asset/competition-emeron/Asset-bg-prize%402x.jpg);
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
        height: 300px;
        text-align: center;
    }

    div.section-five h1 {
        font-family: "Raleway", sans-serif;
        color: #9d2482;
        font-size: 40px;
        font-weight: bold;
    }

    div.section-six {
        background: #ffffff;
        text-align: center;
        padding: 50px;
    }

    div.section-six .hadiah-kurang-100-peserta div {
        margin-top: 35px;
        margin-bottom: 65px;
    }

    div.section-six .hadiah-kurang-100-peserta div img {
        width: 180px;
    }

    div.section-six .hadiah-kurang-100-peserta .detail, div.section-six .hadiah-lebih-100-peserta .detail {
        padding-top: 35px;
    }

    div.section-six .hadiah-kurang-100-peserta .note {
        background-color: #f8f8f8;
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }

    div.section-six .hadiah-kurang-100-peserta .note p {
        font-size: 14px;
        letter-spacing: -0.5px;
    }

    div.section-six h1 {  
        font-family: "Raleway", sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #333333;
    }

    div.section-six div h2 {  
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin-bottom: -35px;
    }

    div.section-six hr {
        width: 320px;
        margin: 0%;
        margin-left: -15px;
        border: solid 1px #cacaca;
    }

    div.section-six p {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #333333;
        line-height: 1.67;
        margin-top: 25px;
    }

    div.section-eight {
        background: url(https://s3-ap-southeast-1.amazonaws.com/prod-competition/microsite-asset/competition-emeron/Asset-bg-periode%402x.jpg);
        background-size: cover;
        background-position: center;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        text-align: center;
        color: #9d2482;
        padding: 65px 20px;
    }

    div.section-eight p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    div.section-eight p.label {
        font-size: 14px;
        font-weight: normal;
        color: #9d2482;
        white-space: normal;
    }

    div.section-nine.persyaratan-lomba {
        background: #ffffff;
        padding: 60px 20px;
        text-align: center;
        /*min-height: 1165px;*/
    }

    div.section-nine.persyaratan-lomba > ul.desktop {
        display: none;
    }

    div.section-nine.persyaratan-lomba h1 {  
        font-family: "Raleway", sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #333333;
        margin-bottom: 35px;
    }

    div.section-nine.persyaratan-lomba hr {
        border: solid 1px #333333;
        margin-top: 0;
    }

    div.section-nine.persyaratan-lomba ul {

    }

    div.section-nine.persyaratan-lomba ul.nav-pills {

    }

    div.section-nine.persyaratan-lomba ul > li {
        text-align: left;
        font-size: 14px;
        color: #333333;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

    div.section-nine.persyaratan-lomba ul.nav-pills > li {
        width: auto;
        text-align: center;
    }

    div.section-nine.persyaratan-lomba ul > li > a {
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        padding: 10px;
    }

    div.section-nine.persyaratan-lomba ul > li.active > a.focus, div.section-nine.persyaratan-lomba ul > li.active > a {
        color: #ffffff;
        background-color: #333333;
        border-radius: 0px;
    }

    div.section-nine.persyaratan-lomba > div.tab-content {
        margin-left: -20px;
    }

    div.section-ten {
        background-color: #ffffff;
        padding: 60px 20px;
        font-family: "Raleway", sans-serif;
        text-align: center;
        border-top: solid 2px #cacaca;
        /*min-height: 1075px;*/
    }

    div.section-ten h1 {  
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #333333;
        margin-bottom: 35px;
    }

    div.section-ten hr {
        border: solid 1px #333333;
        margin-top: 0;
    }

    div.section-ten ul {

    }

    div.section-ten ul.nav-pills {

    }

    div.section-ten ul > li {
        text-align: left;
        font-size: 14px;
        color: #333333;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

    div.section-ten ul.nav-pills > li {
        width: auto;
        text-align: center;
    }

    div.section-ten ul > li > a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #333333;
    }

    div.section-ten ul > li.active > a.focus, div.section-ten ul > li.active > a {
        color: #ffffff;
        background-color: #333333 !important;
        border-radius: 0px;
    }

    div.section-ten > div.tab-content {
        margin-left: -20px;
    }

    div.section-eleven {
        padding: 60px 20px;
        font-family: "Raleway", sans-serif;
        text-align: center;
        color: #202020;
        background-image: linear-gradient(to left, rgba(244, 244, 244, 0), #f4f4f4);
    }

    div.section-eleven h1 {  
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 35px;
        font-family: "Raleway", sans-serif;
    }

    div.section-eleven h4 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #202020;
        font-weight: bold;
    }

    div.section-eleven img {
        width: 151px;
        height: 150px;
        margin-bottom: 35px;
    }

    div.section-eleven p {  
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 14px;
        margin-bottom: 30px;
    }

    div.section-eleven p > a {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
        color: #202020;
    }

    div.section-twelve {
        background: url(https://s3-ap-southeast-1.amazonaws.com/prod-competition/microsite-asset/competition-emeron/Asset-bg-footer%402x.jpg);
        background-size: cover;
        background-position: center;
        height: 230px;
        padding: 60px 20px;
        text-align: center;
    }

    div.section-twelve a > button {
        display: none;
        background-color: #9d2482;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        padding: 10px 20px;
        line-height: 1.5;
        margin-top: 30px;
    }

    div.section-twelve a > button:hover {
        color: #ffffff;
    }

    div.section-thirteen {
        padding: 20px;
        background-color: #333333;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        text-align: center;
    }

    div.section-thirteen p {  
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: #ffffff;
    }

    div.section-thirteen p > a {
        text-decoration: underline;
        color: #ffffff;
    }

    div.num-four {
        display: none;
    }

    div.num-five {
        display: none;
    }

    div.num-six {
        display: none;
    }

    div.num-seven {
        display: none;
    }

    div.num-eight {
        display: none;
    }

    div.num-nine {
        display: block !important;
    }

    div.num-nine p {
        font-family: "Raleway", sans-serif;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        color: #202020;
        text-align: center;
        left: 70px;
        bottom: 200px;
    }

    div.num-nine button.btn.btn-lg.btn-dark-fill {
        
    }
    
    div.num-nine button#btn-join, div.num-nine button#btn-login-register {
        /*display: none;*/
        margin-left: 25%;
        bottom: 175px;
        background-color: #9d2482;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        padding: 10px 20px;
        line-height: 1.5;
        margin-top: 30px;
        width: auto;
        position: absolute;
    }

    div.num-nine button#btn-manage {
        /*display: none;*/
        margin-left: 100px;
        bottom: 170px;
        position: absolute;
        background-color: #9d2482;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        line-height: 1.5;
    }

    div.num-nine button.btn.btn-lg.btn-dark-fill:hover {
        background-color: #f37021;
        color: #ffffff;
    }

    div.num-ten {
        display: none;
    }

}

@media screen and (min-width: 375px) {
    div.section-four > div > a > div.konten-title {
        padding-top: 10px;
        text-align: left;
        padding-left: 110px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register {
        margin-left: 30%;
    }

    div.num-nine p {
        left: 90px;
    }

    div.section-one {
        background: url(https://trello-attachments.s3.amazonaws.com/5a0d2e0b5b55a4aad1ed8fb8/5ad5a2bc940928affb430159/3e49373f1a345d75b62effcdaca882b2/Asset-414%402x%402x.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 46px;
        height: 600px;
    }

    div.section-nine.persyaratan-lomba {
        /*min-height: 1024px;*/
    }

    div.section-ten {
        /*min-height: 955px;*/
    }

    div.num-nine button#btn-manage {
        margin-left: 130px;
    }
}

@media screen and (min-width: 414px) {
    nav.navbar-default > .container-fluid > a > button.mobile {
        display: none;
    }
    nav.navbar-default > .container-fluid > a > button.desktop {
        display: none;
        background-color: #9d2482;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        float: right;
        margin-bottom: 12px;
        margin-top: 10px;
        padding: 10px 15px;
        border-radius: 0px;
        line-height: 1.1;
    }

    div.num-nine p {
        left: 120px;
    }

    div.section-two { 
        padding: 60px 30px 0 30px;
    }

    div.section-three {
        padding: 40px 30px 0 30px;
    }

    div.section-three iframe {
        height: 199px;
    }

    div.section-three hr {
        margin-left: -30px;
    }

    div.section-four {
        padding: 0 30px 60px 30px;
    }

    div.section-produk {
        padding: 40px 30px;
    }

    div.section-six {    
        padding: 50px 90px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 30px;
    }

    div.section-ten {
        padding: 60px 30px;
    }

    div.section-thirteen {
        padding: 20px 30px;
    }

    div.num-nine button#btn-manage {
        margin-left: 150px;
    }
}

@media screen and (min-width: 768px) {
    body > .container-fluid  {
        overflow-x: hidden !important; 
    }

    nav.navbar-default > .container-fluid >.navbar-header {
        margin-left: 30px;
        margin-top: 0;  
    }

    nav.navbar-default > .container-fluid > a > button {
        font-size: 12px;
        margin-right: 30px;
    }

    div.section-one {
        background: url(https://s3-ap-southeast-1.amazonaws.com/prod-competition/microsite-asset/competition-emeron/main-banner-emeron%402x.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 46px;
        height: 600px;
    }

    div.section-one h1 {
        padding-left: 60px;
        padding-right: 60px;
    }

    div.section-one a > button {
        font-size: 14px;
        margin-bottom: 85px;
    }

    div.section-one h2 {
        
    }

    div.section-two {
        padding: 60px 70px 0 70px;
    }

    div.section-three {
        padding: 40px 70px 0 70px;
    }

    div.section-three iframe {
        height: 348px;
    }

    div.section-three a {
        width: 50%;
        float: left;
    }

    div.section-three hr {
        margin-left: 0;
        width: 100%;
        margin-top: 70px;
    }

    div.section-four {
        padding: 0 135px 60px 135px;
    }

    div.section-four > div > a > div.konten-title {
        padding: 10px 10px 10px 120px;
    }

    div.section-four > div > a > div.konten-title > span.mobile {
        display: none;
    }

    div.section-four > div > a > div.konten-title > span.desktop {
        display: inline;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        color: #333333;
        font-weight: bold;
    }

    div.section-produk {
        padding: 40px 70px;
    }

    div.section-produk > div {
        padding: 0 165px;
    }

    div.section-five h1 {
        margin-top: 40px;
    }

    div.section-six {
        padding: 50px;
    }

    div.section-six .hadiah-kurang-100-peserta div.jurut {
        margin-bottom: 0;
    }

    div.section-six .hadiah-kurang-100-peserta div.ju-left {
        padding-left: 120px;
    }

    div.section-six .hadiah-kurang-100-peserta div.ju-right {
        padding-right: 120px;
    }

    div.section-six .hadiah-kurang-100-peserta div.jt-left {
        padding-left: 120px;
    }

    div.section-six .hadiah-kurang-100-peserta div.jt-right {
        padding-right: 120px;   
    }

    div.section-six .hadiah-kurang-100-peserta div.col-md-12 {
        margin: 0;
    }

    div.section-six div h2 {
        margin-bottom: 0;
        margin-top: 60px;
    }

    div.section-eight {
        height: 300px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 70px;
        /*min-height: 745px;*/
    }

    div.section-nine.persyaratan-lomba > ul.mobile {
        display: none;
    }

    div.section-nine.persyaratan-lomba > ul.desktop {
        display: block;
    }

    div.section-ten {
        padding: 60px 70px;
    }

    div.section-eleven {
        padding: 60px 70px;
    }

    div.section-thirteen {
        padding: 15px;
        height: 50px;
    }

    div.num-nine p {
        left: 290px;
        bottom: 200px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register {
        font-size: 14px;
        width: auto;
        bottom: 140px;
        margin-left: 275px;
    }

    div.num-nine button#btn-manage {
        font-size: 14px;
        width: 181px;
        bottom: 165px;
        margin-left: 275px;
    }
}

@media screen and (min-width: 1024px) {
    body > .container-fluid  {
        overflow-x: hidden !important; 
    }

    div.section-two {
        padding: 60px 120px 0 120px;
    }

    div.section-three {
        padding: 40px 200px 0 200px;
    }

    div.section-four {
        padding: 0 260px 60px 260px;
    }

    div.section-produk {
        padding: 40px 0 40px 40px;
    }

    div.section-produk > div {
        padding: 0;
        width: 30%;
        margin-right: 30px;
    }

    div.section-six {
        padding: 50px 140px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 100px;
    }

    div.section-ten {
        padding: 60px 100px;
    }

    div.section-eleven {
        padding: 60px 120px;
    }

    div.num-nine p {
        left: 425px;
        bottom: 185px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register, div.num-nine button#btn-manage {
        margin-left: 435px;
        bottom: 140px;
    }
}

@media screen and (min-width: 1280px) {

    div.section-two {
        padding: 60px 250px 0 250px;
    }

    div.section-three {
        padding: 40px 330px 0 330px;
    }

    div.section-four {
        padding: 0 390px 60px 390px;
    }

    div.section-produk {
        padding: 40px 130px 40px 170px;
    }

    div.section-six {
        padding: 50px 220px;
    }

    div.section-six .hadiah-kurang-100-peserta div.ju-lef, div.section-six .hadiah-kurang-100-peserta div.jt-left {
        padding-left: 140px;
    }

    div.section-six .hadiah-kurang-100-peserta div.ju-right, div.section-six .hadiah-kurang-100-peserta div.jt-right {
        padding-right: 140px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 230px;
    }

    div.section-ten {
        padding: 60px 230px;
    }

    div.section-eleven {
        padding: 60px 330px;
    }



    div.num-nine p {
        font-size: 16px;
        left: 525px;
        bottom: 210px;
    }

    div.num-nine button#btn-join,
    div.num-nine button#btn-login-register,
    div.num-nine button#btn-manage {
        width: 261px;
        height: 57px;
        font-size: 16px;
        margin-left: 492px;
        padding-left: 20px;
        padding-right: 20px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register {
        bottom: 130px;
    }

    div.num-nine button#btn-manage {
        bottom: 155px;
    }
}

@media screen and (min-width: 1360px) {

    div.section-four > div > a > div.konten-title {
        padding: 20px 10px 10px 120px;
    }

    div.num-nine p {
        left: 554px;
    }

    div.num-nine button#btn-join,
    div.num-nine button#btn-login-register,
    div.num-nine button#btn-manage {
        margin-left: 522px;
    }
}

@media screen and (min-width: 1440px) {

    div.section-two {
        padding: 60px 330px 0 330px;
    }

    div.section-three {
        padding: 40px 410px 0 410px;
    }

    div.section-four {
        padding: 0 470px 60px 470px;
    }

    div.section-produk {
        padding: 40px 170px 40px 210px;
    }

    div.section-six {
        padding: 50px 290px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 290px;
    }

    div.section-ten {
        padding: 60px 290px;
    }

    div.section-eleven {
        padding: 60px 410px;
    }

    div.num-nine p {
        left: 590px;
    }

    div.num-nine button#btn-join,
    div.num-nine button#btn-login-register,
    div.num-nine button#btn-manage {
        margin-left: 562px;
    }
}

@media screen and (min-width: 1680px) {

    div.section-four > div > a > div.konten-title {
        padding: 20px 20px 20px 140px;
    }

    div.num-nine p {
        left: 700px;
        bottom: 215px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register, div.num-nine button#btn-manage {
        margin-left: 670px;
        bottom: 130px;
    }
}

@media screen and (min-width: 1920px) {
    div.section-two {
        padding: 60px 570px 0 570px;
    }

    div.section-three {
        padding: 40px 650px 0 650px;
    }

    div.section-four {
        padding: 0 710px 60px 710px;
    }

    div.section-four > div > a > div.konten-title {
        padding: 20px 20px 20px 130px;
    }

    div.section-produk {
        padding: 40px 450px 40px 490px;
    }

    div.section-six {
        padding: 50px 540px;
    }

    div.section-nine.persyaratan-lomba {
        padding: 60px 540px;
    }

    div.section-ten {
        padding: 60px 540px;
    }

    div.section-eleven {
        padding: 60px 650px;
    }

    div.num-nine p {
        left: 855px;
        bottom: 225px;
    }

    div.num-nine button#btn-join, div.num-nine button#btn-login-register {
        margin-left: 820px;
        bottom: 120px;
    }

    div.num-nine button#btn-manage {
        margin-left: 825px;
        bottom: 170px;
    }
}

